/*
	A Grid style sheet
*/

/* Background */

body
{
	background: #f4f8e4 url('../img/backgroung.png') no-repeat fixed center;
}

/*
	The container for grid elements
*/
.grid-container {
	float: left;
	width: 100%;
}

.grid-container:after {
	content: "";
	display: table;
	clear: both;
}

/*
	All grid elements are
*/
.grid-1, .grid-2, .grid-3, .grid-4 {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}

.grid-1 {
	width: 21%;
}

.grid-2 {
	width: 46%;
}

.grid-3 {
	width: 71%;
}

.grid-4 {
	width: 96%;
}

.pad-left-1 {
	margin-left: 27%;
}

.pad-left-2 {
	margin-left: 52%;
}

.pad-left-3 {
	margin-left: 77%;
}
.logo-padTop
{
	padding-top: 90%;
}

/* Line height */

h1,h3,input,button.line
{
	line-height:100%
}
/*
.btn-custom {
  background-color: hsl(110, 56%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#29671d", endColorstr="#29671d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#29671d), to(#29671d));
  background-image: -moz-linear-gradient(top, #29671d, #29671d);
  background-image: -ms-linear-gradient(top, #29671d, #29671d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29671d), color-stop(100%, #29671d));
  background-image: -webkit-linear-gradient(top, #29671d, #29671d);
  background-image: -o-linear-gradient(top, #29671d, #29671d);
  background-image: linear-gradient(#29671d, #29671d);
  border-color: #29671d #29671d hsl(110, 56%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
*/
.myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
        -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
        box-shadow:inset 0px 1px 0px 0px #9acc85;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
        background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
        
        background-color:#74ad5a;
        
        border:1px solid #3b6e22;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        
        background-color:#68a54b;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
