/*
	A Grid style sheet
*/

/*
	The container for grid elements
*/
.grid-container {
	float: left;
	width: 100%;
}

.grid-container:after {
	content: "";
	display: table;
	clear: both;
}

/*
	All grid elements are
*/
.grid-1, .grid-2, .grid-3, .grid-4 {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}

.grid-1 {
	width: 21%;
}

.grid-2 {
	width: 46%;
}

.grid-3 {
	width: 71%;
}

.grid-4 {
	width: 96%;
}

.pad-left-1 {
	margin-left: 27%;
}

.pad-left-2 {
	margin-left: 52%;
}

.pad-left-3 {
	margin-left: 77%;
}