.type {
	font-size: 14px;
	line-height: 1.42em;
}

/*
	Headers
*/
h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 4.1em;
}

h3 {
	font-size: 3.8em;
}
h3 {
	font-size: 2.8em;
}

/*
	Font-faces
*/
.serif {
	font-family: Georgia, serif;
}

.sans-serif {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}