/*
	Basic type
*/
.type {
	font-size: 28px;
	line-height: 1.5em;
	max-width: 800px;
}

/*
	Headers
*/
.header {
	font-size: 2.5em;
}

/*
	Paragraph spacing
*/
.type p {
	margin-bottom: 2em;
}

/*
	Font-faces
*/
.serif {
	font-family: Georgia, serif;
}

.sans-serif {
	font-family: 'Helvetica Neue' Arial sans-serif;
}