body
{
	font-family: 'Roboto', 'Helvetica', 'Droid sans', 'Arial', sans-serif;
}

.header
{
	background: rgba(0,0,0,0.5);
	padding: 1.5em 0 1.5em 0;
	color: white;
	text-align: center;
	border-bottom: solid 1px #5f6c72;
}

.header img
{
	width: 100%;
}

.content
{
	
	color: white;
	text-shadow: none;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0  rgba(0,0,0,.3);
}

.form
{
	margin-top: 5em;
}

#search-results .content
{
	min-height: 15em;
}

.loading-img
{
	margin-left: auto;
	margin-right: auto;
}

.carousel-item h3
{
	font-size: 1.5em;
}

.carousel-item h4
{
	margin-top: 0.5em;
	font-size: 1.2em;
	font-style: italic;
}

.carousel-item .distance-to
{
	text-style: italic;
}

p.message
{
	font-size: 1.5em;
}

.bodyDescription
{
	background-color:   transparent;
    background-image:   url("images/bodyLayer3.jpg");
}
.bottomLayer
{
	background-color:   transparent;
    background-image:   url("images/bottomLayer.jpg");
}
.backgroundApples
{
	background-color: transparent;
	background-image:   url("images/backgroundApples.jpg");
	background-size: 100%;
}



/*
	Hide unrendered templates
*/
.templates {
	display: none;
}

/*
	Carosel
*/
.carosel
{
	overflow: hidden;
}

.carosel-element
{
	
}

.ui-block-a.section1 
	{
		width: 10%;
	}
.ui-block-b.section2
	{
		width: 60%;
	}
.ui-block-c.section3 
	{
		width: 20%;
	}
.ui-block-d.section4
	{
		width: 10%;
	}
	
	
.ui-block-a.ORsection1 
	{
		width: 50%;
	}
.ui-block-b.ORsection2
	{
		width: 10%;
	}
.ui-block-c.ORsection3 
	{
		width: 20%;
	}
.ui-block-d.ORsection4
	{
		width: 20%;
	}
	
	
	.ui-block-a.locationButtonsection1 
	{
		width: 5%;
	}
.ui-block-b.locationButtonsection2
	{
		width: 85%;
	}
.ui-block-c.locationButtonsection3 
	{
		width: 5%;
	}
